<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-2 align-items-left">
                    <a class="btn btn-primary" th:href="@{/main}"><i aria-hidden="true"
                                                                     class="fas fa-home"></i> На главную</a>
                </div>
                <div class="col-8 align-items-center">
                    <h4 class="display-4">Регистрация</h4>
                </div>
            </div>
            <div style="width: 25rem;alignment: center">
                <form method="POST" th:action="@{/registration}" th:object="${user}">
                    <fieldset>
                        <div th:if="${#fields.hasErrors('userName')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg is-invalid" placeholder="Никнейм"
                                       required="true" th:field="*{userName}" type="text">
                                <div class="invalid-feedback" th:errors="*{userName}">
                                </div>
                            </div>
                        </div>
                        <div th:if="${!#fields.hasErrors('userName')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg" placeholder="Никнейм"
                                       required="true" th:field="*{userName}" type="text">
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg is-invalid" placeholder="E-Mail"
                                       required="true" th:field="*{email}" type="email">
                                <div class="invalid-feedback" th:errors="*{email}"></div>
                            </div>
                        </div>
                        <div th:if="${!#fields.hasErrors('email')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg" placeholder="E-Mail"
                                       required="true" th:field="*{email}" type="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input autofocus="true" class="form-control input-lg" placeholder="Имя"
                                   required="true" th:field="*{name}" type="text"/>
                        </div>
                        <div class="form-group">
                            <input autofocus="true" class="form-control input-lg" placeholder="Фамилия"
                                   required="true" th:field="*{surname}" type="text"/>
                        </div>
                        <div th:if="${#fields.hasErrors('password')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg is-invalid" placeholder="Пароль"
                                       required="true" th:field="*{password}" type="password">
                                <div class="invalid-feedback" th:errors="*{password}"></div>
                            </div>
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg is-invalid"
                                       placeholder="Подтвердите пароль"
                                       required="true" th:field="*{confirmPassword}" type="password">
                                <div class="invalid-feedback" th:errors="*{password}"></div>
                            </div>
                        </div>
                        <div th:if="${!#fields.hasErrors('password')}">
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg" placeholder="Пароль"
                                       required="true" th:field="*{password}" type="password">
                            </div>
                            <div class="form-group">
                                <input autofocus="true" class="form-control input-lg" placeholder="Подтвердите пароль"
                                       required="true" th:field="*{confirmPassword}" type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <select class="form-control selectpicker" name="gendername" required>
                                <option disabled selected value="">Выберите пол</option>
                                <option value="мужской">Мужской</option>
                                <option value="женский">Женский</option>
                            </select>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Регистрация"/>
                    </fieldset>
                    <br>
                    <span>У Вас уже есть аккаунт? <a th:href="@{/login}">Войти.</a></span><br>
                    <div th:errors="*{password}" th:if="${#fields.hasErrors('active')}">
                        <div class="alert alert-danger">
                            Ваш аккаунт отключен!
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
    </div>
    </div>
</center>
</body>
</html>