<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <h4 class="display-4">Информация о заказе №<span th:utext="${order.getId()}"></span></h4><br>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;margin-top:20px">
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                            data-placement="left"
                            data-toggle="dropdown"
                            data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                            type="button">
                        <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/main}"><i aria-hidden="true" class="fas fa-home"
                                                                       style="margin-right:8px"></i>Главная страница</a>
                        <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                          style="margin-right:11px"></i>Мой
                            профиль</a>
                        <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                           style="margin-right:6.8px"></i>Мои
                            заказы</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                           class="fas fa-sign-out-alt"
                                                                                           style="margin-right:8px"></i>Выход</a>
                    </div>
                </div>
            </div>
            <br>
            <div align="left" style="margin-bottom:20px;margin-left:20px;"><a class="btn btn-primary"
                                                                              th:href="@{/admin/orders}"><i
                    aria-hidden="true" class="fas fa-long-arrow-alt-left"></i></a>&nbsp;&nbsp;

                <div aria-hidden="true" class="modal fade"
                     role="dialog" tabindex="-1"
                     th:attr="id='deleteOrder'+${order.getId()}">
                    <div class="modal-dialog modal-dialog-centered"
                         role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div align="left"
                                     style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                    <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                            aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <h4 class="modal-title">Удаление заказа из БД</h4></div>
                            </div>
                            <div class="modal-body">
                                <div align="left">Вы действительно
                                    хотите удалить из БД заказ №<span th:utext="${order.getId()}"></span>
                                </div>
                                <br>
                                <form method="POST"
                                      th:action="@{/admin/orders/{id}/delete(id=${order.getId()})}">
                                    <button class="btn btn-secondary"
                                            data-dismiss="modal"
                                            type="button">
                                        <i aria-hidden="true"
                                           class="fas fa-times"></i>
                                        Отменить
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-danger"
                                            type="submit">
                                        <i aria-hidden="true"
                                           class="fas fa-trash-alt"></i>
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-danger" data-toggle="modal"
                        th:attr="data-target='#deleteOrder'+${order.getId()}"><i aria-hidden="true"
                                                                                 class="fas fa-trash-alt"></i> Удалить
                    заказ из БД
                </button>
            </div>
            <div class="border py-2 px-3 rounded" style="width: 50rem;margin-left:20px;margin-right:20px">
                <div align="left" class="card-body">
                    <table class="table-no-bordered">
                        <tr style="margin-bottom:20px; align-items: center">
                            <td>Номер заказа: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px" th:utext="${order.getId()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Дата заказа: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px"
                                      th:utext="${order.getDateTimeOrder()}"></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Статус заказа: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px"
                                      th:utext="${order.getOrderStatus()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Фамилия заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px" th:utext="${order.getSurname()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Имя заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px" th:utext="${order.getName()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Отчество заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px"
                                      th:utext="${order.getMiddlename()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>E-mail заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px"
                                      th:utext="${order.getOrderUser().getEmail()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Адрес заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px" th:utext="${order.getAddress()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr style="align-items: center">
                            <td>Телефон заказчика: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><span style="font-weight:bold; font-size:15px" th:utext="${order.getPhone()}"></span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                    </table>
                    <br><span style="font-size:25px">Товары в заказе: </span><br><br>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Артикул</th>
                            <th>Товар</th>
                            <th>Количество</th>
                        </tr>
                        <tr th:each="shoppingCartItem : ${order.getShoppingCartOrder().getCartItems()}">
                            <td th:utext="${shoppingCartItem.getGoods().articul}">...</td>
                            <td th:utext="${shoppingCartItem.getGoods().name}">...</td>
                            <td th:utext="${shoppingCartItem.getQuantity()}">...</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</center>
<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>