<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<div class="card bg-light mb-3" style="width: 100rem;margin:0 auto;">
    <div class="card-body">
        <center><h4 class="display-4">Пользователи</h4></center>
        <br>
        <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;margin-top:20px">
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                        data-placement="left"
                        data-toggle="dropdown"
                        data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                        type="button">
                    <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/main}"><i aria-hidden="true" class="fas fa-home"
                                                                   style="margin-right:8px"></i>Главная страница</a>
                    <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                      style="margin-right:11px"></i>Мой
                        профиль</a>
                    <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                       style="margin-right:6.8px"></i>Мои
                        заказы</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                       class="fas fa-sign-out-alt"
                                                                                       style="margin-right:8px"></i>Выход</a>
                </div>
            </div>
        </div>
        <br>
        <div align="left" style="margin-bottom:20px"><a class="btn btn-primary" th:href="@{/admin}"><i
                aria-hidden="true" class="fas fa-long-arrow-alt-left"></i></a></div>
        <table class="table table-hover" id="userstable" style="width:100%">
            <thead>
            <tr class="table-secondary">
                <th class="align-middle">Номер</th>
                <th class="align-middle">Никнейм</th>
                <th class="align-middle">E-Mail</th>
                <th class="align-middle">Имя</th>
                <th class="align-middle">Фамилия</th>
                <th class="align-middle">Пол</th>
                <th class="align-middle">Привилегии</th>
                <th class="align-middle">Статус</th>
                <th class="align-middle"></th>
                <th class="align-middle"></th>
                <th class="align-middle"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,index : ${users}">
                <td class="align-middle" th:utext="${index.count}">...</td>
                <td class="align-middle" th:utext="${user.getUserName()}">...</td>
                <td class="align-middle" th:utext="${user.getEmail()}">...</td>
                <td class="align-middle" th:utext="${user.getName()}">...</td>
                <td class="align-middle" th:utext="${user.getSurname()}">...</td>
                <td class="align-middle" th:utext="${user.getGender()}">...</td>
                <td class="align-middle">
                    <div th:if="${user.getRoles()=='ROLE_USER'}">
                        <span>USER</span>
                    </div>
                    <div th:if="${user.getRoles()=='ROLE_ADMIN'}">
                        <span>ADMIN</span>
                    </div>
                </td>
                <td class="align-middle"><span th:if="${user.isActive()}">Учетная запись активна</span>
                    <span th:if="${!user.isActive()}">Учетная запись неактивна</span></td>
                <td class="align-middle">
                    <div aria-hidden="true" class="modal fade"
                         role="dialog" tabindex="-1"
                         th:attr="id='setStatus'+${user.getId()}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div align="left"
                                         style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                        <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                                aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <h4 class="modal-title">Изменение статуса учетной записи пользователя</h4></div>
                                </div>
                                <div class="modal-body">
                                    <div th:if="${user.isActive()}">
                                        <div align="left">Вы действительно
                                            хотите деактивировать учетную запись пользователя '<span
                                                    th:utext="${user.getUserName()}"></span>'?
                                        </div>
                                    </div>
                                    <div th:if="${!user.isActive()}">
                                        <div align="left">Вы действительно
                                            хотите активировать учетную запись пользователя '<span
                                                    th:utext="${user.getUserName()}"></span>'?
                                        </div>
                                    </div>
                                    <br>
                                    <form method="POST"
                                          th:action="@{/admin/users/{id}/setStatus(id=${user.getId()})}">
                                        <button class="btn btn-secondary"
                                                data-dismiss="modal"
                                                type="button">
                                            <i aria-hidden="true"
                                               class="fas fa-times"></i>
                                            Отменить
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger"
                                                type="submit">
                                            <i aria-hidden="true"
                                               class="fas fa-edit"></i>
                                            Да
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${user.isActive()}">
                        <button class="btn btn-success" data-toggle="modal"
                                th:attr="data-target='#setStatus'+${user.getId()}">Деактивировать
                        </button>
                    </div>
                    <div th:if="${!user.isActive()}">
                        <button class="btn btn-success" data-toggle="modal"
                                th:attr="data-target='#setStatus'+${user.getId()}">Активировать
                        </button>
                    </div>
                </td>
                <td class="align-middle">
                    <div aria-hidden="true" class="modal fade"
                         role="dialog" tabindex="-1"
                         th:attr="id='setUserRole'+${user.getId()}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div align="left"
                                         style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                        <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                                aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <h4 class="modal-title">Изменение привилегий учетной записи пользователя</h4>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div th:if="${user.getRoles()=='ROLE_USER'}">
                                        <div align="left">Вы действительно
                                            хотите дать пользователю '<span
                                                    th:utext="${user.getUserName()}"></span>' админские привилегии?
                                        </div>
                                    </div>
                                    <div th:if="${user.getRoles()=='ROLE_ADMIN'}">
                                        <div align="left">Вы действительно
                                            хотите отозвать админские привилегии пользователя '<span
                                                    th:utext="${user.getUserName()}"></span>'?
                                        </div>
                                    </div>
                                    <br>
                                    <form method="POST"
                                          th:action="@{/admin/users/{id}/setRole(id=${user.getId()})}">
                                        <button class="btn btn-secondary"
                                                data-dismiss="modal"
                                                type="button">
                                            <i aria-hidden="true"
                                               class="fas fa-times"></i>
                                            Отменить
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger"
                                                type="submit">
                                            <i aria-hidden="true"
                                               class="fas fa-edit"></i>
                                            Да
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${user.getRoles()=='ROLE_USER'}">
                        <button class="btn btn-success" data-toggle="modal"
                                th:attr="data-target='#setUserRole'+${user.getId()}">Сделать админом
                        </button>
                    </div>
                    <div th:if="${user.getRoles()=='ROLE_ADMIN'}">
                        <button class="btn btn-success" data-toggle="modal"
                                th:attr="data-target='#setUserRole'+${user.getId()}">Отозвать привилегии админа
                        </button>
                    </div>
                </td>
                <td class="align-middle">
                    <div aria-hidden="true" class="modal fade"
                         role="dialog" tabindex="-1"
                         th:attr="id='deleteUser'+${user.getId()}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div align="left"
                                         style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                        <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                                aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <h4 class="modal-title">Удаление учетной записи пользователя</h4></div>
                                </div>
                                <div class="modal-body">
                                    <div align="left">Вы действительно
                                        хотите удалить учетную запись пользователя '<span
                                                th:utext="${user.getUserName()}"></span>'
                                    </div>
                                    <br>
                                    <form method="POST"
                                          th:action="@{/admin/users/{id}/delete(id=${user.getId()})}">
                                        <button class="btn btn-secondary"
                                                data-dismiss="modal"
                                                type="button">
                                            <i aria-hidden="true"
                                               class="fas fa-times"></i>
                                            Отменить
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger"
                                                type="submit">
                                            <i aria-hidden="true"
                                               class="fas fa-trash-alt"></i>
                                            Удалить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger" data-toggle="modal"
                            th:attr="data-target='#deleteUser'+${user.getId()}"><i aria-hidden="true"
                                                                                   class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" type="text/javascript"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#userstable").DataTable({
            "pagingType": "full_numbers",
            "paging": true,
            "ordering": false,
            "info": true,
            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ пользователей на странице",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 (из 0 записей)",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                },
                "select": {
                    "rows": {
                        "_": "Выбрано записей: %d",
                        "0": "Кликните по записи для выбора",
                        "1": "Выбрана одна запись"
                    }
                }
            }
        });
    });
</script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>