<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-right">
                        <h4 class="display-4">Панель администратора&nbsp;&nbsp;&nbsp;&nbsp;</h4><br>
                    </div>
                    <div class="col-md-left">
                        <img height="80px" src="https://img.icons8.com/dusk/64/000000/admin-settings-male.png"
                             width="80px"/>
                    </div>
                </div>
            </div>
            <br>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;margin-top:20px">
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                            data-placement="left"
                            data-toggle="dropdown"
                            data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                            type="button">
                        <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/main}"><i aria-hidden="true" class="fas fa-home"
                                                                       style="margin-right:8px"></i>Главная страница</a>
                        <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                          style="margin-right:11px"></i>Мой
                            профиль</a>
                        <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                           style="margin-right:6.8px"></i>Мои
                            заказы</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                           class="fas fa-sign-out-alt"
                                                                                           style="margin-right:8px"></i>Выход</a>
                    </div>
                </div>
            </div>
            <br/>
            <div align="center" style="margin-bottom:20px;width: 25rem;"><a class="btn btn-primary btn-block btn-lg"
                                                                            th:href="@{/admin/categories}"><i
                    class="fas fa-tags"></i> Управление
                категориями</a><br><a class="btn btn-primary btn-block btn-lg" th:href="@{/admin/items?selcat=0}"><i
                    class="fas fa-gifts"></i> Управление
                товарами</a><br><a class="btn btn-primary btn-block btn-lg" th:href="@{/admin/users}"><i
                    class="fas fa-users"></i> Управление
                пользователями</a><br><a class="btn btn-primary btn-block btn-lg" th:href="@{/admin/orders}"><i
                    class="fas fa-shopping-basket"></i> Управление
                заказами</a><br><a class="btn btn-primary btn-block btn-lg" th:href="@{/admin/stats}"><i
                    class="fas fa-chart-line"></i> Статистика</a></div>
        </div>
    </div>
</center>
<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>