<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <h4 class="display-4">Изменить статус заказа №<span th:utext="${order.getId()}"></span></h4><br>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
            <span><span style="color: black">Вы вошли как: <b><span
                    sec:authentication="name"></span></b></span>&nbsp;&nbsp;<span><a
                    class="btn btn-primary"
                    th:href="@{/profile}"><i aria-hidden="true"
                                             class="fas fa-user"></i>  Мой профиль</a>&nbsp;&nbsp;</span><span><a
                    class="btn btn-primary"
                    th:href="@{/main/}"><i aria-hidden="true" class="fas fa-home"></i>  Главная страница</a>&nbsp;&nbsp;</span><span><a
                    class="btn btn-primary"
                    th:href="@{/logout}"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>  Выход</a></span></span>
            </div>
            <br>
            <div align="left" style="margin-bottom:20px;"><a class="btn btn-primary" th:href="@{/admin/orders}"><i
                    aria-hidden="true" class="fas fa-long-arrow-alt-left"></i></a></div>
            <div style="width: 30rem;alignment: center">
                <form method="post" th:action="@{/admin/orders/{id}/changestatus(id=${order.getId()})}"
                      th:object="${order}">
                    <fieldset>
                        <div class="form-group">
                            <small class="form-text text-muted" style="margin-bottom:10px">Введите статус заказа или
                                выберите из шаблонов, расположенных ниже:</small>
                            <input autofocus="true" class="form-control" id="statusField"
                                   placeholder="Введите новый статус"
                                   required="true" th:field="*{orderStatus}" type="text"/>
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Сохранить"/>
                    </fieldset>
                </form>
                <br><br>
                <small class="form-text text-muted" style="margin-bottom:10px">Шаблоны:</small>
                <button class="btn btn-secondary btn-block" id="var1">Обрабатывается.</button>
                <button class="btn btn-secondary btn-block" id="var2">Подтвержден.</button>
                <button class="btn btn-secondary btn-block" id="var3">Оплачен.</button>
                <button class="btn btn-secondary btn-block" id="var4">Отправлен.</button>
                <button class="btn btn-secondary btn-block" id="var5">Получен.</button>
                <button class="btn btn-secondary btn-block" id="var6">Отменен.</button>
            </div>
        </div>
    </div>
</center>
<script type="text/javascript">
    var var1 = document.getElementById("var1");
    var var2 = document.getElementById("var2");
    var var3 = document.getElementById("var3");
    var var4 = document.getElementById("var4");
    var var5 = document.getElementById("var5");
    var var6 = document.getElementById("var6");
    var text = document.getElementById("statusField");

    var1.addEventListener('click', function () {
        text.value = "Обрабатывается.";
    });
    var2.addEventListener('click', function () {
        text.value = "Подтвержден.";
    });
    var3.addEventListener('click', function () {
        text.value = "Оплачен.";
    });
    var4.addEventListener('click', function () {
        text.value = "Отправлен.";
    });
    var5.addEventListener('click', function () {
        text.value = "Получен.";
    });
    var6.addEventListener('click', function () {
        text.value = "Отменен.";
    });
</script>
</body>
</html>