<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <h4 class="display-4">Редактирование товара</h4><br>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
            <span><span style="color: black">Вы вошли как: <b><span
                    sec:authentication="name"></span></b></span>&nbsp;&nbsp;<span><a
                    class="btn btn-primary"
                    th:href="@{/profile}"><i aria-hidden="true"
                                             class="fas fa-user"></i>  Мой профиль</a>&nbsp;&nbsp;</span><span><a
                    class="btn btn-primary"
                    th:href="@{/main/}"><i aria-hidden="true" class="fas fa-home"></i>  Главная страница</a>&nbsp;&nbsp;</span><span><a
                    class="btn btn-primary"
                    th:href="@{/logout}"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>  Выход</a></span></span>
            </div>
            <br>
            <div align="left" style="margin-bottom:20px"><a class="btn btn-primary"
                                                            th:href="@{/admin/items?selcat=0}"><i aria-hidden="true"
                                                                                                  class="fas fa-long-arrow-alt-left"></i></a>
            </div>
            <form enctype="multipart/form-data"
                  method="POST" th:action="@{/admin/items/{id}/edit(id=${item.getId()})}" th:object="${item}">
                <div style="width: 60rem;">
                    <table class="table-no-bordered">
                        <tr>
                            <td>Артикул <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" min="1" required size="50"
                                       th:field="*{articul}" th:value="*{articul}" type="number"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Название <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" required th:field="*{name}" th:value="*{name}" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Описание <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" required size="50"
                                       th:field="*{description}" th:value="*{description}" type="text"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Количество <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" min="0" required size="50" th:field="*{count}"
                                       th:value="*{count}" type="number"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Цена <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" min="1" required size="50" step="0.01"
                                       th:field="*{price}" th:value="*{price}" type="number"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Категория <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><select class="form-control selectpicker" data-size="10" name="ctgid" required>
                                <option disabled selected value="">Выберите категорию</option>
                                <option th:each="category : ${categories}"
                                        th:text="${category.getName()}"
                                        th:value="${category.getId()}">
                                </option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Изображение: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <div class="custom-file">
                                    <input class="custom-file-input" id="validatedCustomFile" name="img"
                                           type="file">
                                    <label class="custom-file-label" for="validatedCustomFile">Выберите файл...</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label class="form-check-label" th:if="${item.status}">
                                    <input checked class="form-check-input" name="status"
                                           th:checked="${item.status}" type="checkbox">Отображать товар на
                                    главной странице
                                </label><label class="form-check-label" th:if="${!item.status}">
                                <input class="form-check-input" name="status" th:checked="${item.status}"
                                       type="checkbox">Отображать товар на главной странице
                            </label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                    </table>
                    <input class="btn btn-success" type="submit" value="Редактировать товар"/>
                </div>
            </form>
        </div>
    </div>
    </div>
</center>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
</html>