<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <style>.table-plain tbody tr,
    .table-plain tbody tr:hover,
    .table-plain tbody td {
        background-color: transparent;
        border: none;
    }</style>
</head>
<body>
<br>
<div class="card bg-light mb-3" style="width: 100rem;margin:0 auto;">
    <div class="card-body">
        <center><h4 class="display-4">Товары</h4></center>
        <br>
        <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;margin-top:20px">
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                        data-placement="left"
                        data-toggle="dropdown"
                        data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                        type="button">
                    <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/main}"><i aria-hidden="true" class="fas fa-home"
                                                                   style="margin-right:8px"></i>Главная страница</a>
                    <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                      style="margin-right:11px"></i>Мой
                        профиль</a>
                    <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                       style="margin-right:6.8px"></i>Мои
                        заказы</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                       class="fas fa-sign-out-alt"
                                                                                       style="margin-right:8px"></i>Выход</a>
                </div>
            </div>
        </div>
        <br>
        <div align="left" style="margin-bottom:20px"><a class="btn btn-primary" th:href="@{/admin}"><i
                aria-hidden="true" class="fas fa-long-arrow-alt-left"></i></a>
            <div aria-hidden="true" class="modal fade bd-example-modal-lg"
                 id="addItem" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div align="left"
                                 style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                <a class="btn" data-dismiss="modal" style="font-size:30px;color: red"><i
                                        aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <h4 class="modal-title">Добавление товара</h4></div>
                        </div>
                        <div class="modal-body">
                            <div align="center"
                                 style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:center;">
                                <form enctype="multipart/form-data"
                                      method="POST" th:action="@{/admin/items/add}" th:object="${newItem}">
                                    <div style="width: 60rem;">
                                        <table class="table-plain">
                                            <tr style="margin-bottom:20px;">
                                                <td>Артикул <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td><input class="form-control" min="1" required size="50"
                                                           th:field="*{articul}"
                                                           type="number"/></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Название <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td><input class="form-control" required th:field="*{name}"
                                                           type="text"/></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Описание <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td><input class="form-control" required
                                                           th:field="*{description}" type="text"/></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Количество <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td><input class="form-control" min="0" required
                                                           th:field="*{count}"
                                                           type="number"/></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Цена <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td><input class="form-control" min="1" required size="50" step="0.01"
                                                           th:field="*{price}" type="number"/></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Категория <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td><select class="form-control selectpicker"
                                                            name="categoryId" required>
                                                    <option disabled selected value="">Выберите категорию</option>
                                                    <option th:each="category : ${categories}"
                                                            th:text="${category.getName()}"
                                                            th:value="${category.getId()}">
                                                    </option>
                                                </select></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Изображение: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td>
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" id="validatedCustomFile"
                                                               name="img"
                                                               type="file">
                                                        <label class="custom-file-label" for="validatedCustomFile">Выберите
                                                            файл...</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><label class="form-check-label">
                                                    <input class="form-check-input" name="status"
                                                           th:checked="${newItem.status}"
                                                           type="checkbox">Отображать товар на главной странице
                                                </label></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button"><i
                                                aria-hidden="true" class="fas fa-times"></i> Отменить
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-success" type="submit"><i aria-hidden="true"
                                                                                         class="fas fa-plus"></i>
                                            Создать товар
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" data-target="#addItem"
                    data-toggle="modal"><i aria-hidden="true"
                                           class="fas fa-plus"></i> Добавить товар
            </button>
            <br><br>
            <div align="left" style="margin-bottom:20px">
                <form class="form-inline" method="GET" th:action="@{/admin/items}" th:object="${ctgSel}">
                    <div class="form-group">
                        <label for="category">Выберите категорию: </label>&nbsp;&nbsp;
                        <select class="form-control selectpicker" id="category" name="selcat">
                            <option th:value="0">(по-умолчанию)</option>
                            <option data-divider="true"></option>
                            <option th:each="category : ${categories}"
                                    th:text="${category.getName()}"
                                    th:value="${category.getId()}">
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit"><i aria-hidden="true" class="fas fa-check-circle"></i>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="'(выбранная категория: ' + ${currentCategory.toLowerCase()} +')'"></span>
                </form>
            </div>
            <table class="table table-hover" id="itemstable">
                <thead>
                <tr class="table-secondary">
                    <th class="align-middle">Номер</th>
                    <th class="align-middle">Изображение</th>
                    <th class="align-middle">Артикул</th>
                    <th class="align-middle">Название</th>
                    <th class="align-middle">Описание</th>
                    <th class="align-middle">Количество</th>
                    <th class="align-middle">Цена</th>
                    <th class="align-middle">Категория</th>
                    <th class="align-middle">Статус</th>
                    <th class="align-middle"></th>
                    <th class="align-middle"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,index : ${items}">
                    <td class="align-middle" th:utext="${index.count}">...</td>
                    <td class="align-middle"><img height="70"
                                                  th:src="@{'data:image/jpeg;base64,'+${item.getImageString()}}"
                                                  width="70"/>
                    </td>
                    <td class="align-middle" th:utext="${item.getArticul()}">...</td>
                    <td class="align-middle" th:utext="${item.getName()}">...</td>
                    <td class="align-middle" th:utext="${item.getDescription()}">...</td>
                    <td class="align-middle" th:utext="${item.getCount()}">...</td>
                    <td class="align-middle" th:utext="${item.getPrice()}">...</td>
                    <td class="align-middle" th:utext="${item.getCategoryName()}">...</td>
                    <td class="align-middle"><span th:if="${item.status}">Товар виден всем</span>
                        <span th:if="${!item.status}">Товар не отображается</span></td>
                    <td class="align-middle">
                        <div aria-hidden="true" class="modal fade bd-example-modal-lg"
                             role="dialog" tabindex="-1"
                             th:attr="id='editItem'+${item.getId()}">
                            <div class="modal-dialog modal-dialog-centered modal-lg"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div align="left"
                                             style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                            <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                                    aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <h4 class="modal-title">Редактирование товара</h4></div>
                                    </div>
                                    <div class="modal-body">
                                        <div align="center"
                                             style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:center;">
                                            <form enctype="multipart/form-data"
                                                  method="POST"
                                                  th:action="@{/admin/items/{id}/edit(id=${item.getId()})}"
                                                  th:object="${editItem}">
                                                <div style="width: 60rem;">
                                                    <table class="table-plain">
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Артикул <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><input class="form-control" min="1" name="articul"
                                                                       required
                                                                       size="50" th:value="${item.getArticul()}"
                                                                       type="number"/></td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Название <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><input class="form-control" name="name" required
                                                                       th:value="${item.getName()}" type="text"/>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Описание <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><input class="form-control" name="description" required
                                                                       th:value="${item.getDescription()}" type="text"/>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Количество <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><input class="form-control" min="0" name="count"
                                                                       required size="50"
                                                                       th:value="${item.getCount()}" type="number"/>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Цена <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><input class="form-control" min="1" name="price"
                                                                       required size="50" step="0.01"
                                                                       th:value="${item.getPrice()}" type="number"/>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Категория <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td><select class="form-control selectpicker"
                                                                        name="ctgid" required>
                                                                <option disabled selected value="">Выберите категорию
                                                                </option>
                                                                <option th:each="category : ${categories}"
                                                                        th:selected="${category == item.getCategory()}"
                                                                        th:text="${category.getName()}"
                                                                        th:value="${category.getId()}">
                                                                </option>
                                                            </select></td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td>Изображение: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <div class="custom-file">
                                                                    <input class="custom-file-input"
                                                                           id="validatedCustomFileEdit" name="img"
                                                                           type="file">
                                                                    <label class="custom-file-label"
                                                                           for="validatedCustomFileEdit">Выберите
                                                                        файл...</label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin-bottom:20px;">
                                                            <td></td>
                                                            <td>
                                                                <label class="form-check-label" th:if="${item.status}">
                                                                    <input checked class="form-check-input"
                                                                           name="status"
                                                                           th:checked="${item.status}" type="checkbox">Отображать
                                                                    товар на
                                                                    главной странице
                                                                </label><label class="form-check-label"
                                                                               th:if="${!item.status}">
                                                                <input class="form-check-input" name="status"
                                                                       th:checked="${item.status}"
                                                                       type="checkbox">Отображать товар на главной
                                                                странице
                                                            </label></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <button class="btn btn-secondary" data-dismiss="modal"
                                                            type="button"><i aria-hidden="true"
                                                                             class="fas fa-times"></i> Отменить
                                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button class="btn btn-success" type="submit"><i aria-hidden="true"
                                                                                                     class="fas fa-save"></i>
                                                        Сохранить изменения
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" data-toggle="modal"
                                th:attr="data-target='#editItem'+${item.getId()}"><i aria-hidden="true"
                                                                                     class="fas fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td class="align-middle">
                        <div aria-hidden="true" class="modal fade"
                             role="dialog" tabindex="-1"
                             th:attr="id='deleteItem'+${item.getId()}">
                            <div class="modal-dialog modal-dialog-centered"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div align="left"
                                             style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                            <a class="btn" data-dismiss="modal" style="font-size:30px;color:red"><i
                                                    aria-hidden="true" class="far fa-window-close"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <h4 class="modal-title">Удаление товара</h4></div>
                                    </div>
                                    <div class="modal-body">
                                        <div align="left">Вы действительно
                                            хотите удалить товар '<span th:utext="${item.getName()}"></span>'
                                        </div>
                                        <br>
                                        <form method="POST"
                                              th:action="@{/admin/category/{c_id}/items/{i_id}/delete(c_id=${item.getCategoryId()},i_id=${item.getId()})}">
                                            <button class="btn btn-secondary"
                                                    data-dismiss="modal"
                                                    type="button">
                                                <i aria-hidden="true"
                                                   class="fas fa-times"></i>
                                                Отменить
                                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-danger"
                                                    type="submit">
                                                <i aria-hidden="true"
                                                   class="fas fa-trash-alt"></i>
                                                Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger" data-toggle="modal"
                                th:attr="data-target='#deleteItem'+${item.getId()}"><i aria-hidden="true"
                                                                                       class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script charset="utf8"
        src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
        type="text/javascript"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#itemstable").DataTable({
            "pagingType": "full_numbers",
            "paging": true,
            "ordering": false,
            "info": true,
            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ товаров на странице",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 (из 0 записей)",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                },
                "select": {
                    "rows": {
                        "_": "Выбрано записей: %d",
                        "0": "Кликните по записи для выбора",
                        "1": "Выбрана одна запись"
                    }
                }
            }

        });
    });
</script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>