<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Редактирование профиля</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link href="https://gitcdn.link/repo/AlexanderKirillov/SB-SPRING-PROJECT/master/src/main/resources/static/css/logo.css"
          rel="stylesheet">
    <link href="https://gitcdn.link/repo/AlexanderKirillov/SB-SPRING-PROJECT/master/src/main/resources/static/css/navbar.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet">
</head>
<body>
<div><a th:href="@{/main}"><h1><i class="fas fa-microchip"></i> <i class="fas fa-desktop"></i> Компьютерные
    комплектующие</h1></a></div>
<div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
    <span><span style="color: black">Вы вошли как: <b><span
            sec:authentication="name"></span></b></span>&nbsp;&nbsp;<span sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-primary" th:href="@{/admin}"><i aria-hidden="true"
                                                                      class="fas fa-users-cog"></i>  Панель администратора</a></span>&nbsp;&nbsp;<span><a
            class="btn btn-primary"
            th:href="@{/profile}"><i aria-hidden="true"
                                     class="fas fa-user"></i>  Мой профиль</a>&nbsp;&nbsp;</span><span><a
            class="btn btn-primary"
            th:href="@{/myOrders}"><i aria-hidden="true"
                                      class="fas fa-laptop"></i>  Мои заказы</a>&nbsp;&nbsp;</span><span><a
            class="btn btn-primary"
            th:href="@{/main/shoppingCart}"><i aria-hidden="true" class="fas fa-shopping-cart"></i>  Корзина</a>&nbsp;&nbsp;</span><span><a
            class="btn btn-primary"
            th:href="@{/logout}"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>  Выход</a></span></span>
</div>
<div sec:authorize="!isAuthenticated()" style="text-align: right;margin-right: 20px;">
    <span><a class="btn btn-primary" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>  Вход</a></span>&nbsp;&nbsp;<span><a
        class="btn btn-primary" th:href="@{/registration}"><i aria-hidden="true" class="fas fa-user-plus"></i>  Регистрация</a></span>
</div>
<div class="row">
    <div class="col-3">
        <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
            <h3>Категории</h3>
            <ul>
                <li><a th:href="@{/main}">(не учитывать)</a></li>
            </ul>
            <ul th:each="category: ${categories}">
                <li><img height="30px" th:src="@{'data:image/jpeg;base64,'+${category.getImageString()}}" width="30px">&nbsp;&nbsp;<a
                        th:href="@{/main?selcat={id}(id=${category.getId()})}"
                        th:utext="${category.getName()}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="card" style="margin-left: 5px;margin-right: 20px;margin-top: 20px;margin-bottom:20px">
            <div class="card-body" style="margin-left:20px;margin-right:20px">
                <h4 class="display-4"><a class="btn btn-secondary" th:href="@{/profile}"><i
                        aria-hidden="true" class="fas fa-long-arrow-alt-left"></i></a> Редактирование профиля</h4><br>
                <form method="POST" th:action="@{/profile/edit}"
                      th:object="${user}">
                    <div style="width: 40rem;">
                        <table class="table-no-bordered">
                            <tr style="vertical-align: text-top;">
                                <td>Никнейм: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div th:if="${#fields.hasErrors('userName')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg is-invalid"
                                                   required th:field="*{userName}" th:value="*{userName}"
                                                   type="text">
                                            <div class="invalid-feedback" th:errors="*{userName}">
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${!#fields.hasErrors('userName')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg"
                                                   required th:field="*{userName}" th:value="*{userName}"
                                                   type="text">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Электронная почта: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div th:if="${#fields.hasErrors('email')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg is-invalid"
                                                   placeholder="E-Mail"
                                                   required th:field="*{email}" th:value="*{email}" type="email">
                                            <div class="invalid-feedback" th:errors="*{email}"></div>
                                        </div>
                                    </div>
                                    <div th:if="${!#fields.hasErrors('email')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg" placeholder="E-Mail"
                                                   required th:field="*{email}" th:value="*{email}"
                                                   type="email"/>
                                        </div>
                                    </div>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Имя: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><input class="form-control" required size="50"
                                           th:field="*{name}" th:value="*{name}" type="text"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Фамилия: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><input class="form-control" required size="50"
                                           th:field="*{surname}" th:value="*{surname}" type="text"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Пароль: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div th:if="${#fields.hasErrors('password')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg is-invalid"
                                                   placeholder="Введите старый, либо новый пароль"
                                                   required th:field="*{password}" th:value="*{password}"
                                                   type="password">
                                            <div class="invalid-feedback" th:errors="*{password}"></div>
                                        </div>
                                    </div>
                                    <div th:if="${!#fields.hasErrors('password')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg"
                                                   placeholder="Введите старый, либо новый пароль"
                                                   required th:field="*{password}" th:value="*{password}"
                                                   type="password">
                                        </div>
                                    </div>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Подтвердите пароль: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div th:if="${#fields.hasErrors('password')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg is-invalid"
                                                   placeholder="Подтвердите пароль"
                                                   required th:field="*{confirmPassword}"
                                                   th:value="*{confirmPassword}" type="password">
                                            <div class="invalid-feedback" th:errors="*{password}"></div>
                                        </div>
                                    </div>
                                    <div th:if="${!#fields.hasErrors('password')}">
                                        <div class="form-group">
                                            <input autofocus="true" class="form-control input-lg"
                                                   placeholder="Подтвердите пароль"
                                                   required th:field="*{confirmPassword}"
                                                   th:value="*{confirmPassword}" type="password">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr style="vertical-align: text-top;">
                                <td>Пол: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div th:if="${user.gender==null}">
                                        <div class="form-group">
                                            <select class="form-control selectpicker" name="gendername" required>
                                                <option disabled selected value="">Выберите пол</option>
                                                <option value="мужской">Мужской</option>
                                                <option value="женский">Женский</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div th:if="${user.gender=='мужской'}">
                                        <div class="form-group">
                                            <select class="form-control selectpicker" name="gendername" required>
                                                <option disabled value="">Выберите пол</option>
                                                <option selected value="мужской">Мужской</option>
                                                <option value="женский">Женский</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div th:if="${user.gender=='женский'}">
                                        <div class="form-group">
                                            <select class="form-control selectpicker" name="gendername" required>
                                                <option disabled value="">Выберите пол</option>
                                                <option value="мужской">Мужской</option>
                                                <option selected value="женский">Женский</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                        <br>
                        <div align="center" style="margin-bottom:20px"><input
                                class="btn btn-success" type="submit" value="Сохранить изменения"/></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-2 px-3 text-white rounded"
     style="background: #5cb885;margin-left:20px;margin-right: 20px;padding:20px;margin-top:30px">
    <i class="fas fa-code"></i> Developed by Alexander Kirillov, 2020
</div>
<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
</html>