<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Корзина</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/logo.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <style>.btn-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }

    .btn-circle i {
        position: relative;
        top: -1px;
    }

    .btn-circle-sm {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
    }</style>
</head>
<body style='overflow-x:hidden;'>
<div class="row">
    <div class="col-10" style="display: flex;margin: auto;align-items:center;justify-content:left;">
        <div style="text-align: left;margin-top: 20px;width: 100%"><a th:href="@{/main}"><h1><i
                class="fas fa-microchip"></i> <i
                class="fas fa-desktop"></i> Компьютерные
            комплектующие</h1></a></div>
    </div>
    <div class="col-2" style="display: flex;margin: auto;align-items:start;justify-content:left;">
        <div sec:authorize="isAuthenticated()" style="text-align: right;margin-left: 20px;margin-top:20px">
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                        data-placement="left"
                        data-toggle="dropdown"
                        data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                        type="button">
                    <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><i
                            aria-hidden="true" class="fas fa-tools"
                            style="margin-right:8px"></i>Панель администратора</a>
                    <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                      style="margin-right:10.5px"></i>Мой
                        профиль</a>
                    <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                       style="margin-right:6.8px"></i>Мои
                        заказы</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                       class="fas fa-sign-out-alt"
                                                                                       style="margin-right:8px"></i>Выход</a>
                </div>
            </div>
            <span><a class="btn btn-lg" data-placement="bottom" data-toggle="tooltip" th:href="@{/main/shoppingCart}"
                     title="Корзина"><i aria-hidden="true"
                                        class="fas fa-shopping-cart"></i></a>&nbsp;&nbsp;</span>
        </div>
        <div sec:authorize="!isAuthenticated()" style="text-align: right;margin-left: 20px;margin-top:20px">
            <span><a class="btn btn-primary" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>  Вход</a></span>&nbsp;&nbsp;<span><a
                class="btn btn-primary" th:href="@{/registration}"><i aria-hidden="true" class="fas fa-user-plus"></i>  Регистрация</a></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
            <h3>Категории</h3>
            <ul>
                <li><a th:href="@{/main}">(не учитывать)</a></li>
            </ul>
            <ul th:each="category: ${categories}">
                <li><img height="30px" th:src="@{'data:image/jpeg;base64,'+${category.getImageString()}}" width="30px">&nbsp;&nbsp;<a
                        th:href="@{/main?selcat={id}(id=${category.getId()})}"
                        th:utext="${category.getName()}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="card" style="margin-left: 5px;margin-right: 20px;margin-top: 20px;margin-bottom:20px">
            <div class="card-body" style="margin-left:20px;margin-right:20px">
                <h4 class="display-4" style="margin-bottom:20px">Корзина</h4>
                <div th:if="${shoppingCartItems==null || shoppingCartItems.isEmpty()}"><h5>Пока что тут пусто!</h5>
                    <br>
                    <img height="80px" src="https://i.ibb.co/268RcPg/17-cart-cat-icon-icons-com-76693.png"
                         style="margin-left:20px;margin-right:20px;"
                         width="80px">
                    <br><br>
                    <a class="btn btn-primary" th:href="@{/main}"><i
                            aria-hidden="true"
                            class="fas fa-cart-plus"></i> Продолжить
                        покупки</a></div>
                <div th:if="${shoppingCartItems!=null && !shoppingCartItems.isEmpty()}">
                    <div th:if="${error}">
                        <tr>
                            <td></td>
                            <td><br>
                                <div class="alert alert-danger" role="alert">
                                    <span th:utext="${error}"></span>
                                </div>
                            </td>
                        </tr>
                    </div>
                    <br>
                    <div class="card" style="margin-bottom:20px" th:each="shoppingCartItem: ${shoppingCartItems}">
                        <div class="card-body" style="margin-left:20px;margin-right:20px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div aria-hidden="true" class="modal fade"
                                         role="dialog" tabindex="-1"
                                         th:attr="id='deleteShoppingCartItem'+${shoppingCartItem.getId()}">
                                        <div class="modal-dialog modal-dialog-centered"
                                             role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Удаление товара из корзины</span>
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div align="left">Вы действительно
                                                        хотите удалить товар <span
                                                                th:utext="${shoppingCartItem.getGoods().getName()}"></span>
                                                        (<span th:utext="${shoppingCartItem.getQuantity()}"></span>) из
                                                        корзины?
                                                    </div>
                                                    <br>
                                                    <form method="POST"
                                                          th:action="@{/main/shoppingCart/items/{id}/delete(id=${shoppingCartItem.getId()})}">
                                                        <button class="btn btn-secondary"
                                                                data-dismiss="modal"
                                                                type="button">
                                                            <i aria-hidden="true"
                                                               class="fas fa-times"></i>
                                                            Отменить
                                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-danger"
                                                                type="submit">
                                                            <i aria-hidden="true"
                                                               class="fas fa-trash-alt"></i>
                                                            Удалить
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span style="position: relative;top: 35%;transform: translateY(-50%);margin-right:20px;"><button
                                            class="btn btn-danger" data-toggle="modal"
                                            th:attr="data-target='#deleteShoppingCartItem'+${shoppingCartItem.getId()}"><i
                                            aria-hidden="true"
                                            class="fas fa-trash-alt"></i></button></span></div>
                                <div class="col-xs-8">
                                    <table class="table-no-bordered">
                                        <tr style="margin-bottom:20px; align-items: center">
                                            <td>Товар: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><span style="font-weight:bold; font-size:15px"
                                                      th:utext="${shoppingCartItem.getGoods().name}"></span>&nbsp;<span
                                                    style="font-weight:bold; font-size:15px"
                                                    th:utext="'(артикул: '+${shoppingCartItem.getGoods().articul}+')'"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr style="margin-bottom:20px; align-items: center">
                                            <td>Количество: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <div style="display:table">
                                                    <div style="display: inline-block; ">
                                                        <form method="POST" style="display: inline-block; "
                                                              th:action="@{/main/shoppingCart/items/{id}/remq(id=${shoppingCartItem.getId()})}">
                                                            <button class="btn btn-outline-primary btn-circle btn-circle-sm m-1"
                                                                    type="submit"><i
                                                                    class="fas fa-minus"></i></button>
                                                        </form>&nbsp;&nbsp;
                                                    </div>
                                                    <div style="display: inline-block; ">
                                                <span style="font-weight:bold; font-size:15px"
                                                      th:utext="${shoppingCartItem.quantity}"></span>&nbsp;&nbsp;
                                                    </div>
                                                    <div style="display: inline-block; ">
                                                        <form method="POST" style="display: inline-block; "
                                                              th:action="@{/main/shoppingCart/items/{id}/addq(id=${shoppingCartItem.getId()})}">
                                                            <button class="btn btn-outline-primary btn-circle btn-circle-sm m-1"
                                                                    type="submit"><i
                                                                    class="fas fa-plus"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <span style="margin-bottom:20px;margin-top:20px;font-size:25px">Общая цена: </span><span
                        style="font-weight:bold; font-size:25px"
                        th:utext="${totalPrice}"></span><br><br>
                    <div align="left">
                        <a class="btn btn-success" th:href="@{/main/shoppingCart/checkout}"><i aria-hidden="true"
                                                                                               class="fas fa-tasks"></i>
                            Оформить заказ</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                            class="btn btn-primary" th:href="@{/main}"><i aria-hidden="true"
                                                                          class="fas fa-cart-plus"></i>
                        Продолжить
                        покупки
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2 px-3 text-white rounded"
     style="background: #5cb885;margin-left:20px;margin-right: 20px;padding:20px;margin-top:30px">
    <i class="fas fa-code"></i> Developed by Alexander Kirillov, 2020
</div>
<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>