<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Компьютерные комплектующие</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/logo.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/star-rating.css}">
    <link rel="stylesheet" th:href="@{/css/star-theme.css}">
</head>
<body style='overflow-x:hidden;'>
<div class="row">
    <div class="col-10" style="display: flex;margin: auto;align-items:center;justify-content:left;">
        <div style="text-align: left;margin-top: 20px;width: 100%"><a th:href="@{/main}"><h1><i
                class="fas fa-microchip"></i> <i
                class="fas fa-desktop"></i> Компьютерные
            комплектующие</h1></a></div>
    </div>
    <div class="col-2" style="display: flex;margin: auto;align-items:start;justify-content:left;">
        <div sec:authorize="isAuthenticated()" style="text-align: right;margin-left: 20px;margin-top:20px">
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-lg dropdown-toggle"
                        data-placement="left"
                        data-toggle="dropdown"
                        data-toggle-second="tooltip" th:title="${'Вы вошли как: '+#authentication.getName()}"
                        type="button">
                    <i class="far fa-user-circle"></i> <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><i
                            aria-hidden="true" class="fas fa-tools"
                            style="margin-right:8px"></i>Панель администратора</a>
                    <a class="dropdown-item" th:href="@{/profile}"><i aria-hidden="true" class="fas fa-user"
                                                                      style="margin-right:10.5px"></i>Мой
                        профиль</a>
                    <a class="dropdown-item" th:href="@{/myOrders}"><i aria-hidden="true" class="fas fa-dolly"
                                                                       style="margin-right:6.8px"></i>Мои
                        заказы</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:red" th:href="@{/logout}"><i aria-hidden="true"
                                                                                       class="fas fa-sign-out-alt"
                                                                                       style="margin-right:8px"></i>Выход</a>
                </div>
            </div>
            <span><a class="btn btn-lg" data-placement="bottom" data-toggle="tooltip" th:href="@{/main/shoppingCart}"
                     title="Корзина"><i aria-hidden="true"
                                        class="fas fa-shopping-cart"></i></a>&nbsp;&nbsp;</span>
        </div>
        <div sec:authorize="!isAuthenticated()" style="text-align: right;margin-left: 20px;margin-top:20px">
            <span><a class="btn btn-primary" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>  Вход</a></span>&nbsp;&nbsp;<span><a
                class="btn btn-primary" th:href="@{/registration}"><i aria-hidden="true" class="fas fa-user-plus"></i>  Регистрация</a></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
            <h3>Категории</h3>
            <ul>
                <li><a th:href="@{/main}">(не учитывать)</a></li>
            </ul>
            <ul th:each="category: ${categories}">
                <li><img height="30px" th:src="@{'data:image/jpeg;base64,'+${category.getImageString()}}" width="30px">&nbsp;&nbsp;<a
                        th:href="@{/main?selcat={id}(id=${category.getId()})}"
                        th:utext="${category.getName()}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="card" style="margin-left: 5px;margin-right: 20px;margin-top: 20px;margin-bottom:20px">
            <div class="card-body" style="margin-left:20px;margin-right:20px">
                <div class="row">
                    <div class="col-3">
                        <img height="90%" th:src="@{'data:image/jpeg;base64,'+${item.getImageString()}}"
                             width="100%">
                    </div>
                    <div class="col-9">
                        <i><span th:utext="${'Артикул: '+item.getArticul()}"></span></i><br>
                        <span style="font-weight:bold; font-size:30px" th:utext="${item.getName()}"></span><br>
                        <div th:if="${comments.size()>0}">
                            <div style="display:  flex;margin: auto;align-items:center;justify-content:left;">
                                <input class="totalRating rating-loading" data-size="md" dir="ltr"
                                       th:value="${totalRating}"><br>
                                &nbsp;&nbsp;<span style="font-size: 18px;margin-top:3px"><span
                                    th:utext="${totalRating}"></span> (<span th:utext="${scoreQuantity}"></span> оценок)</span>
                            </div>
                        </div>
                        <br>
                        <span style="font-weight:bold; font-size:30px"
                              th:utext="${item.getPrice()+' ₽'}"></span><br><br>
                        <span th:utext="${item.getDescription()}"></span><br><br>
                        <span style="font-weight:bold; font-size:17px">Количество на складе:</span> <span
                            style="font-size:20px" th:utext="${item.getCount()}"></span><br><br>
                        <form method="POST"
                              th:action="@{/main/items/{id}/addToCart(id=${item.getId()})}">
                            <button class="btn btn-success btn-lg" th:if="${item.getCount()}>0"
                                    type="submit"><i aria-hidden="true"
                                                     class="fas fa-shopping-basket"></i> В
                                корзину
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="margin-left: 40px;margin-right: 40px;margin-top: 40px">
                <h4 class="display-4" style="font-size: 35px">Комментарии (<span th:utext="${comments.size()}"></span>)
                </h4><br>
                <div sec:authorize="isAuthenticated()">
                    <form method="POST" th:action="@{/main/items/{id}/addComment(id=${item.getId()})}"
                          th:object="${cmnt}">
                        <div style="display:  flex;margin: auto;align-items:center;justify-content:left;">
                            <span>Поставьте оценку (необязательно): </span>
                            <input class="addOrEditCommentRating rating-loading" data-size="xs" dir="ltr"
                                   name="ratingAdd" value="0">
                        </div>
                        <br>
                        <input class="form-control" maxlength="500" minlength="5"
                               placeholder="Введите текст комментария" required style="margin-bottom:20px"
                               th:field="*{commentText}"
                               type="text"/>
                        <div align="left"><input class="btn btn-success" type="submit" value="Отправить"/></div>
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <span><font color="red">Для добавления комментариев необходимо войти в аккаунт!</font></span>
                </div>
                <br>
                <div th:if="${comments.isEmpty()}">
                    <span>Пока что никто не оставил комментариев к товару!</span>
                </div>
                <div th:if="${!comments.isEmpty()}">
                    <table class="table borderless" id="commentstable" style="width:101.9%;margin-left: -11px;">
                        <thead style="display:none;">
                        <tr th:each="comment: ${comments}">
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comment: ${comments}">
                            <td style="border: none;">
                                <div class="card border">
                                    <div class="card-header bg-secondary text-white">
                                        <span th:utext="${comment.getCommentUser().getName()}"></span>&nbsp;<span
                                            th:utext="${comment.getCommentUser().getSurname()}">  </span> (<span
                                            th:utext="${comment.getCommentUser().getUserName()}"></span>)&nbsp;&nbsp;&nbsp;&nbsp;<span
                                            th:utext="${comment.getDateTimeComment()}"></span><input
                                            class="commentRating" data-size="xs" dir="ltr"
                                            th:value="${comment.getRating()}">
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-middle">
                                            <div class="col-10">
                                                <div style="width: 100%;height:100%;display: flex;margin: auto;align-items:center;justify-content:left;">
                                                    <span
                                                            th:utext="${comment.getCommentText()}"></span>
                                                </div>
                                                <div aria-hidden="true" class="modal fade"
                                                     role="dialog" tabindex="-1"
                                                     th:attr="id='editComment'+${comment.getId()}">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Изменение
                                                                    комментария №<span
                                                                            th:utext="${comment.getId()}"></span></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST"
                                                                      th:action="@{/main/items/{i_id}/comments/{c_id}/edit(i_id=${item.getId()},c_id=${comment.getId()})}"
                                                                      th:object="${cmnt}">
                                                                    <div style="display:  flex;margin: auto;align-items:center;justify-content:left;">
                                                                        <span>Измените оценку (необязательно): </span>
                                                                        <input class="addOrEditCommentRating rating-loading"
                                                                               data-size="xs" dir="ltr"
                                                                               name="ratingEdit"
                                                                               th:value="${comment.getRating()}">
                                                                    </div>
                                                                    <br>
                                                                    <input class="form-control"
                                                                           maxlength="500"
                                                                           minlength="5"
                                                                           name="commentText"
                                                                           th:value="${comment.getCommentText()}"
                                                                           type="text"><br>
                                                                    <input class="form-control" hidden
                                                                           name="commentOriginalDate"
                                                                           th:value="${comment.getDateTimeComment()}">

                                                                    <button class="btn btn-secondary"
                                                                            data-dismiss="modal" type="button">
                                                                        <i aria-hidden="true" class="fas fa-times"></i>
                                                                        Отменить
                                                                    </button>
                                                                    <button class="btn btn-primary" type="submit">
                                                                        <i aria-hidden="true" class="fas fa-save"></i>
                                                                        Сохранить
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div align="right" class="col-2">
                                                <div class="row align-middle">
                                                    <div class="col-6">
                                                        <div th:if="${comment.getCommentUser().getUserName()==#authentication.name}">
                                                     <span style="position: relative;">
                                                             <button class="btn btn-success" data-toggle="modal"
                                                                     th:attr="data-target='#editComment'+${comment.getId()}"><i
                                                                     aria-hidden="true"
                                                                     class="fas fa-edit"></i></button>
                                                     </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || comment.getCommentUser().getUserName()==#authentication.name}">
                                                            <div style="position: relative;">
                                                                <div aria-hidden="true" class="modal fade"
                                                                     role="dialog" tabindex="-1"
                                                                     th:attr="id='deleteComment'+${comment.getId()}">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                         role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Удаление
                                                                                    комментария №<span
                                                                                            th:utext="${comment.getId()}"></span>
                                                                                </h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div align="left">Вы действительно
                                                                                    хотите удалить комментарий?
                                                                                </div>
                                                                                <br>
                                                                                <form method="POST"
                                                                                      th:action="@{/main/items/{i_id}/comments/{c_id}/delete(i_id=${item.getId()},c_id=${comment.getId()})}">
                                                                                    <br>
                                                                                    <button class="btn btn-secondary"
                                                                                            data-dismiss="modal"
                                                                                            type="button">
                                                                                        <i aria-hidden="true"
                                                                                           class="fas fa-times"></i>
                                                                                        Отменить
                                                                                    </button>
                                                                                    <button class="btn btn-danger"
                                                                                            type="submit">
                                                                                        <i aria-hidden="true"
                                                                                           class="fas fa-trash-alt"></i>
                                                                                        Удалить
                                                                                    </button>

                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <button class="btn btn-danger" data-toggle="modal"
                                                                        style="width:60px"
                                                                        th:attr="data-target='#deleteComment'+${comment.getId()}">
                                                                    <i aria-hidden="true"
                                                                       class="fas fa-trash-alt"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
<div class="py-2 px-3 text-white rounded"
     style="background: #5cb885;margin-left:20px;margin-right: 20px;padding:20px;margin-top:30px">
    <i class="fas fa-code"></i> Developed by Alexander Kirillov, 2020
</div>

<script charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script charset="utf8"
        src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" type="text/javascript"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
        type="text/javascript"></script>
<script th:src="@{/js/star-rating.js}" type="text/javascript"></script>
<script th:src="@{/js/star-theme.js}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.commentRating').rating({
            hoverOnClear: false,
            theme: 'krajee-fas',
            containerClass: 'is-star',
            clearButton: '',
            readonly: true
        });

        $('.addOrEditCommentRating').rating({
            hoverOnClear: false,
            theme: 'krajee-fas',
            containerClass: 'is-star',
            clearButton: '',
        });

        $('.totalRating').rating({
            hoverOnClear: false,
            showCaption: false,
            theme: 'krajee-fas',
            containerClass: 'is-star',
            clearButton: '',
            readonly: true
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#commentstable").DataTable({
            "pagingType": "full_numbers",
            "paging": true,
            "dom": 'tp',
            "ordering": false,
            "info": false,
            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ комментариев на странице",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 (из 0 записей)",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка комментариев...",
                "zeroRecords": "Комментарии отсутствуют.",
                "emptyTable": "Комментарии отсутствуют",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                },
                "select": {
                    "rows": {
                        "_": "Выбрано записей: %d",
                        "0": "Кликните по записи для выбора",
                        "1": "Выбрана одна запись"
                    }
                }
            }

        });
    });
</script>
<script>$('[data-toggle-second="tooltip"]').tooltip();
$('[data-toggle="tooltip"]').tooltip();</script>
</body>
</html>