.category-wrap {
    padding: 15px;
    background: white;
    width: 450px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
}

.category-wrap h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, .6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-wrap li {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.category-wrap li:after {
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}

.category-wrap li:hover {
    background: #80C8A0;
    color: white;
}