<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Доступ запрещен!</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <div class="container">
                <h4 class="display-4" style="margin-bottom: 15px;color: red">Ошибка доступа!</h4>
            </div>
            <div style="width: 50rem;alignment: center">
                <span style="font-size: x-large">Вы не имеете доступа к этой странице!</span><br><br>
                <a class="btn btn-primary" th:href="@{/main}">Перейти на главную страницу</a>&nbsp;
            </div>
        </div>
        <br/>
    </div>
    </div>
</center>
</body>
</html>