<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <h4 class="display-4">Редактирование категории</h4>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
                <span class="btn btn-outline-primary disabled"><span style="color: black">Вы вошли как: <b><span
                        sec:authentication="name"></span></b></span>&nbsp;&nbsp;<span><a class="btn btn-primary"
                                                                                         th:href="@{/main}">Главная страница</a></span>&nbsp;&nbsp;<span><a
                        class="btn btn-primary"
                        th:href="@{/logout}">Выход</a></span></span>
            </div>
            <form enctype="multipart/form-data"
                  method="POST" th:action="@{/admin/categories/{id}/edit(id=${category.getId()})}"
                  th:object="${category}">
                <div style="width: 40rem;">
                    <table class="table-no-bordered">
                        <tr style="margin-bottom:20px;">
                            <td>Название <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" required th:field="*{name}" th:value="*{name}" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Описание <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" required size="50"
                                       th:field="*{description}" th:value="*{description}" type="text"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Изображение: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <div class="custom-file">
                                    <input class="custom-file-input" id="validatedCustomFile" name="img"
                                           type="file">
                                    <label class="custom-file-label" for="validatedCustomFile">Выберите файл...</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label class="form-check-label" th:if="${category.status}">
                                    <input checked class="form-check-input" name="status"
                                           th:checked="${category.status}" type="checkbox">Отображать категорию на
                                    главной странице
                                </label><label class="form-check-label" th:if="${!category.status}">
                                <input class="form-check-input" name="status" th:checked="${category.status}"
                                       type="checkbox">Отображать категорию на главной странице
                            </label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                    </table>
                    <br>
                    <div align="center" style="margin-bottom:20px"><a class="btn btn-primary"
                                                                      th:href="@{/admin/categories}">Назад</a>&nbsp;&nbsp;&nbsp;&nbsp;<input
                            class="btn btn-success" type="submit" value="Сохранить изменения"/></div>
                </div>
            </form>
        </div>
    </div>
    </div>
</center>
</body>
</html>