<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <h4 class="display-4">Элементы категорий</h4>
            <div align="left" style="margin-bottom:20px"><a class="btn btn-primary" th:href="@{/admin}">Назад</a> <a
                    class="btn btn-primary" th:href="@{/admin-items-add}">Создать</a></div>
            <div align="left" style="margin-bottom:20px">
                <form class="form-inline" method="GET" th:action="@{/admin-items}" th:object="${ctgSel}">
                    <div class="form-group">
                        <label for="category">Выберите категорию: </label>&nbsp;&nbsp;
                        <select class="form-control selectpicker" data-size="10" id="category" name="selcat">
                            <option th:value="0">(по-умолчанию)</option>
                            <option data-divider="true"></option>
                            <option th:each="category : ${categories}"
                                    th:text="${category.getName()}"
                                    th:value="${category.getId()}">Category
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">OK</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="'(выбранная категория: ' + ${currentCategory.toLowerCase()} +')'"></span>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Номер</th>
                    <th>Изображение</th>
                    <th>Артикул</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Категория</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="item,index : ${items}">
                    <td th:utext="${index.count}">...</td>
                    <td><img height="70" th:src="@{'data:image/jpeg;base64,'+${item.getImageString()}}" width="70"/>
                    </td>
                    <td th:utext="${item.getArticul()}">...</td>
                    <td th:utext="${item.getName()}">...</td>
                    <td th:utext="${item.getDescription()}">...</td>
                    <td th:utext="${item.getCount()}">...</td>
                    <td th:utext="${item.getPrice()}">...</td>
                    <td th:utext="${item.getCategoryName()}">...</td>
                    <td><a class="btn btn-success" th:href="@{/items/{id}/edit(id=${item.getId()})}">Редактировать</a>
                    </td>
                    <td><a class="btn btn-danger"
                           th:href="@{/category/{c_id}/items/{i_id}/delete(c_id=${item.getCategoryId()},i_id=${item.getId()})}">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</center>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
</html>