<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 100rem;">
        <div class="card-body">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-right">
                        <h4 class="display-4">Панель администратора&nbsp;&nbsp;&nbsp;&nbsp;</h4><br>
                    </div>
                    <div class="col-md-left">
                        <img height="80px" src="https://img.icons8.com/dusk/64/000000/admin-settings-male.png"
                             width="80px"/>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
                <span class="btn btn-outline-primary disabled"><span style="color: black">Вы вошли как: <b><span
                        sec:authentication="name"></span></b></span>&nbsp;&nbsp;<span><a class="btn btn-primary"
                                                                                         th:href="@{/main}">Главная страница</a></span>&nbsp;&nbsp;<span><a
                        class="btn btn-primary"
                        th:href="@{/logout}">Выход</a></span></span>
            </div>
            <br/>
            <div align="center" style="margin-bottom:20px"><a class="btn btn-primary" th:href="@{/admin/categories}">Редактировать
                категории</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary"
                                                                    th:href="@{/admin/items?selcat=0}">Редактировать
                элементы категорий</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary"
                                                                             th:href="@{/admin/users}">Управление
                пользователями</a></div>
        </div>
    </div>
</center>
</body>
</html>