<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 60rem;">
        <div class="card-body">
            <h3 class="card-title" style="margin-bottom:20px;">Добавление категории</h3>
            <form th:action="@{/admin-categories-add}"
                  th:object="${category}" method="POST">
                <div style="width: 40rem;">
                    <table class="table-no-bordered">
                        <tr style="margin-bottom:20px;">
                            <td>Название категории: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" type="text" th:field="*{name}"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Описание: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="form-control" type="text" th:field="*{description}" size="50"/></td>
                        </tr>
                    </table>
                    <br>
                    <div align="center" style="margin-bottom:20px"><a th:href="@{/admin-categories}"
                                                                      class="btn btn-primary">Назад</a>&nbsp;&nbsp;&nbsp;&nbsp;<input
                            type="submit" class="btn btn-primary" value="Создать категорию"/></div>
                </div>
            </form>
        </div>
    </div>
    </div>
</center>
</body>
</html>