<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<br>
<center>
    <div class="card bg-light mb-3" style="width: 60rem;">
        <div class="card-body">
            <h3 class="card-title" style="margin-bottom:20px;">Редактирование категорий</h3>
            <div align="left" style="margin-bottom:20px"><a class="btn btn-primary" th:href="@{/admin}">Назад</a> <a
                    class="btn btn-primary" th:href="@{/admin-categories-add}">Создать категорию</a></div>
            <table class="table table-hover">
                <tr>
                    <th>Номер</th>
                    <th>Изображение</th>
                    <th>Имя</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
                <tr th:each="category,index : ${categories}">
                    <td th:utext="${index.count}">...</td>
                    <td><img height="70" th:src="@{'data:image/jpeg;base64,'+${category.getImageString()}}" width="70"/>
                    </td>
                    <td th:utext="${category.getName()}">...</td>
                    <td th:utext="${category.getDescription()}">...</td>
                    <td><a th:href="@{/categories/{id}/edit(id=${category.getId()})}">Редактировать</a></td>
                    <td><a th:href="@{/categories/{id}/delete(id=${category.getId()})}">Удалить</a></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</center>
</body>
</html>