<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение статуса заказа!</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0"
                   style="border: 1px solid #cccccc; border-collapse: collapse;"
                   width="750">
                <tbody>
                <tr>
                    <td align="center" bgcolor="#5cb885"
                        style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <img height="150px" src="http://i.ibb.co/whzDX96/system-software-update-22485.png"
                             style="display: block;" width="150px"/></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="height: 171px;" width="100%">
                            <tbody>
                            <tr style="height: 79px;">
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px; height: 79px;">
                                    <p><span style="font-size: 30px;"><b>Статус заказа №<span
                                            th:utext="${order.getId()}"></span> изменен!</b></span></p>
                                </td>
                            </tr>
                            <tr style="height: 71px;">
                                <td style="padding: 20px 0px 30px; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    <p><b>Новый статус заказа:</b> <span
                                            th:utext="${order.getOrderStatus()}"></span></p><br>
                                    <p><b><span style="font-size: 20px;"> Информация о заказе:&nbsp;</span></b></p>
                                    <p style="margin-left:20px"><b>Дата заказа:</b> <span
                                            th:utext="${order.getDateTimeOrder()}"></span></p>
                                    <p style="margin-left:20px"><b>Фамилия:</b> <span
                                            th:utext="${order.getSurname()}"></span></p>
                                    <p style="margin-left:20px"><b>Имя:</b> <span th:utext="${order.getName()}"></span>
                                    </p>
                                    <p style="margin-left:20px"><b>Отчество:</b> <span
                                            th:utext="${order.getMiddlename()}"></span></p>
                                    <p style="margin-left:20px"><b>Адрес доставки:</b> <span
                                            th:utext="${order.getAddress()}"></span></p>
                                    <p style="margin-left:20px"><b>Телефон:</b> <span
                                            th:utext="${order.getPhone()}"></span></p>
                                    <p style="font-size: 20px;"><b>Товары в заказе:</b></p>
                                    <table border="1px" cellpadding="15" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="align-middle">Артикул</th>
                                            <th class="align-middle">Товар</th>
                                            <th class="align-middle">Количество</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="shoppingCartItem : ${shoppingCartItems}">
                                            <td th:utext="${shoppingCartItem.getGoods().articul}">...</td>
                                            <td th:utext="${shoppingCartItem.getGoods().name}">...</td>
                                            <td th:utext="${shoppingCartItem.getQuantity()}">...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <p>При возникновении любых вопросов - пишите нашим менеджерам!</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
                                    width="75%">&reg; Александр Кириллов
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; width: 39px;"></td>
                                            <td style="font-size: 0px; line-height: 0; width: 20px;" width="20">&nbsp;
                                            </td>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; width: 39px;"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>